@@ -2,6 +2,13 @@

@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@400;700&family=VT323&family=Rubik:wght@400;600;800&display=swap');

.Parcours {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
    gap: 3rem;
    margin: 3rem 0;
}

:root {
    --neon-pink: #ff00ff;
    --neon-cyan: #00ffff;
